
// Fonts
@import url("https://fonts.googleapis.com/css?family=News+Cycle|Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  min-height: 100%;
}

header {
  background-color: $hero-top-bg;
  color: $hero-top-color;
  padding: 0;
  text-align: center;
}

header .brand {
  border-bottom: 2px ridge $hero-top-border;
  margin: 0 auto;

  display: inline-block;
}

header small {
  color: lighten($hero-top-color, 10%);
}

header .brand-secondary {
  font-weight: bold;
  color: $hero-top-color-secondary;
}

h1, h2, h3 {
  font-family: "News Cycle", sans-serif;
}

header .hero-sub {
  font-size: 18px;
  padding: 10px 30px;
  color: #fff;
  text-align: left;
}

header .hero-sub-1 {
  white-space: nowrap;
}

header .hero-sub-1-center {
  padding-right: 60px;
}

header .hero-sub-1-inner {
  float: right;
  font-family: "News Cycle", sans-serif;
}

header .hero-sub-2 {
  //background-color: $hero-sub-2-bg;
}

@media (min-width: $screen-sm-min) {
  header .brand {
    text-align: left;
  }

  header .hero-sub {
    font-size: 18px;
    padding: 15px;
  }

  header .hero-sub-1:first-of-type {
    text-align: left;
  }

  header .hero-sub-1 {
    text-align: right;
    padding-right: 0px;
  }

  header .hero-sub-2 {
    text-align: center;
  }
}

@media (min-width: $screen-md-min) {
  header .hero-sub {
    font-size: 20px;
  }

  header .hero-sub-1 {
  }
}

@media (min-widh: $screen-lg-min) {
  header .hero-sub-1 {
    padding-right: 100px;
  }
}