
// Fonts
@import url("https://fonts.googleapis.com/css?family=News+Cycle|Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body {
  min-height: 100%;
}

header {
  background-color: $hero-top-bg;
  color: $hero-top-color;
  padding: 0;
  margin-bottom: 10px;
  text-align: center;
}

header .brand {
  border-bottom: 2px ridge $hero-top-border;
  margin: 0 auto;

  display: inline-block;
}

header small {
  color: lighten($hero-top-color, 10%);
}

header .brand-secondary {
  font-weight: bold;
  color: $hero-top-color-secondary;
}

h1, h2, h3 {
  font-family: "News Cycle", sans-serif;
}

header .hero-sub {
  font-size: 18px;
  padding: 10px 30px;
  color: #fff;
  text-align: left;
}

header .hero-sub-1 {
  white-space: nowrap;
}

header .hero-sub-1-center {
  padding-right: 60px;
}

header .hero-sub-1-inner {
  float: right;
  font-family: "News Cycle", sans-serif;
}

header .hero-sub-2 {
  text-align: center;
}

.btn-hero-sub {
  font-size: 17px;
  padding: 12px 18px;
  //transform: translateY(-10%);
}

.tracker {
  background-color: $tracker-bg;
  margin: 5px 0 20px;
  border-radius: $tracker-border-radius;
}

.tracker div, .tracker input {
  margin: 0 15px;
}

.tracker .tracker-heading {
  font-size: 16px;
  font-weight: bold;
  background-color: $tracker-heading-bg;
  color: $tracker-heading-color;
  margin: 0;
  padding: 8px 15px;
  border-radius: $tracker-border-radius $tracker-border-radius 0 0;
}

.tracker .tracker-subtext {
  margin-top: 5px;
  font-family: "News Cycle", sans-serif;
}

.tracker .tracker-input {
  margin-top: 5px;
  margin-bottom: 3px;
  border: 0;
  font-family: "News Cycle", sans-serif;
  padding-left: 10px;
}

.tracker .tracker-note {
  font-size: 11px;
  padding-bottom: 5px;
}

@media (min-width: $screen-sm-min) {
  header .brand {
    text-align: left;
  }

  header .hero-sub {
    font-size: 18px;
    padding: 15px;
  }

  header .hero-sub-1:first-of-type {
    text-align: left;
  }

  header .hero-sub-1 {
    text-align: right;
    padding-right: 0px;
  }

  header .hero-sub-2 {
    text-align: right;
    padding: 8px 15px 0;
  }

  .btn-hero-sub {
    font-size: 18px;
    padding: 6px 25px;
  }
}

@media (min-width: $screen-md-min) {
  header .hero-sub {
    font-size: 20px;
  }

  header .hero-sub-1 {
  }
}

@media (min-widh: $screen-lg-min) {
  header .hero-sub-1 {
    padding-right: 100px;
  }
}